* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-image: url(image/default.jpg);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: auto;
    background-color: black;
}

main {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: center;
    /* vertically */
    justify-content: center;
    /* horizontally */
    width: 1000px;
    margin: 10px;
    font-size: 30px;
    font-weight: 300;
    color: rgb(252, 250, 250);
}

#search {
    font-size: 35px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px rgb(233, 228, 228);
}

.glass{
background: rgba(255, 255, 255, 0.06);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.1px);
-webkit-backdrop-filter: blur(5.1px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

#about{
    font-size: 1em;
    background-color: black;
    height: auto;
    color:rgb(252, 251, 253)
}

#about h1{
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    margin-bottom: 3%;
    letter-spacing: 2px;
    word-spacing: 3px;
}
#about p{
    padding:0 30px;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:small;
    background-color: white;
}
footer a{
    margin-bottom:18px;
}

@media (max-width: 1200px){
    #search{
        font-size: 30px;
        width:50%;
        background-color:rgb(224, 224, 233);
        padding-left: 10%;
    }
}

@media (max-width: 1200px){
    .row{
     display: flex;
    align-items: center;
    /* vertically */
    justify-content: center;
    /* horizontally */
    width: 100%;
    margin: 10px;
    font-size: 1em;
    font-weight: 300;
    color: rgb(249, 246, 246); 
    }
    
    main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    
body{
    width: 100%;
    height: 100%;
    background-image: url(image/default.jpg);
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: auto;
    background-color: black;
}

}
@media (max-width:1200px){
  #about{
      
       height: auto;

    }
}


@media (max-width: 500px){
    #search{
        font-size: 30px;
        width:100%;
        background-color:rgb(224, 224, 233);
        padding-left: 10%;
    }
}

@media (max-width: 500px){
    .row{
     display: flex;
    align-items: center;
    /* vertically */
    justify-content: center;
    /* horizontally */
    width: 100%;
    margin: 10px;
    font-size: 1em;
    font-weight: 300;
    color: rgb(249, 246, 246); 
    }
}
